@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Rosario:wght@700&display=swap');

:root {
  --button_color:#09A66D;
  --pcolor:#222222;
  }

.header_{
    display: flex;
    justify-content: space-around;
   align-items: center;
   width: 100%;
   
   background-color: white;
}


.buttons_h{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
li{
    display: inline;
    font-family: DM Sans ;

    margin-right: 1%;

    color: var(--pcolor);
}
.list{
    width: 24%;
    
}
a{
    text-decoration: none;

    font-family:  DM Sans;

    color:var(--pcolor);
}
a.button{
    border: 1px solid transparent; 
    background-color: var(--button_color);
    
    width: 150%; 
    max-width: 150px;
    height: 40px; 
    border-radius: 20px;
    display: flex;
    color: white;
    align-items: center;
    text-align: center;
   
   

    justify-content: center;
}


body{
    background-color: #F3FBF8;
}

p{
    font-family: DM Sans;
    color: #555555;
}
h1{
    font-family: Rosario;
    font-weight: bold;
    font-size: 3em;

    color: var(--pcolor);
}

.container{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;

    text-align: center;
}

.leaves{
    margin-top: -10%;
    
}

.arrow{
    position: relative;
    vertical-align: middle;
    margin-left: 2%;
}

.order{
    font-weight: bold;
}

a:hover{
    color: #29f3f3;
}

a.button:hover {
    background-color: #067e52;
  }

  @media (max-width:600px) {
    .header_{
        flex-direction: column;
        align-content: space-around;
    }
    
    .leaves{
        width:100% ;
    }
    .buttons_h{
        margin-top: 5%;
        width: 60%;
    }
  }